.pageNumbers {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 30px;
   padding: 10px;
   border: 1px solid #CCC;
   border-radius: 10px;
}

.pageNumber {
   cursor: pointer;
   margin-right: 7px;
   font-size: 16px;
}

.selectedPage {
   font-size: 20px;
   font-weight: 500;
}

.user {
   display: flex;
   align-items: center;
   max-width: 700px;
   margin-bottom: 15px;
}

.separator {
   width: 100%;
   height: 2px;
   background-color: #BBBBBB;
   border-radius: 1px;
   margin-bottom: 30px;
}

.userImage {
   margin-right: 30px;
   text-align: center
}

.userInfo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   border: 1px solid #CCC;
   border-radius: 10px;
   padding: 12px 20px;
}

.name {
   font-weight: 500;
}

.avatar {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 50%;
}

.blueButton {
   margin-top: 10px;
   padding: 10px 20px;
   color: #fff;
   background-color: #61DAFB;
   border: 1px solid #61DAFB;
   border-radius: 20px;
}

.whiteButton {
   margin-top: 10px;
   padding: 10px 20px;
   color: #61DAFB;
   background-color: #fff;
   border: 1px solid #61DAFB;
   border-radius: 20px;
}
