.pageNumbers {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 30px;
   padding: 10px;
   border: 1px solid #CCC;
   border-radius: 10px;
}

.pageNumber {
   cursor: pointer;
   margin-right: 7px;
   font-size: 16px;
}

.selectedPage {
   font-size: 20px;
   font-weight: 500;
}

.user {
   display: flex;
   align-items: center;
   max-width: 700px;
   margin: 25px 20px;
   padding: 20px;
}

.user:hover {
   padding: 19px;
   background-color: #f7f7f7;
   border: 1px solid #CCC;
   border-radius: 10px;
}

.separator {
   width: 100%;
   height: 2px;
   background-color: #BBBBBB;
   border-radius: 1px;
}

.userImage {
   margin-right: 30px;
   text-align: center
}

.userInfo {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   border: 1px solid #CCC;
   border-radius: 10px;
   padding: 12px 20px;
}

.name {
   font-size: 17px;
   font-weight: 500;
}

.avatar {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 50%;
}

.blueButton {
   margin-top: 10px;
   padding: 10px 20px;
   color: #fff;
   background-color: #61DAFB;
   border: 1px solid #61DAFB;
   border-radius: 20px;
}

.whiteButton {
   margin-top: 10px;
   padding: 10px 20px;
   color: #61DAFB;
   background-color: #fff;
   border: 1px solid #61DAFB;
   border-radius: 20px;
}

.blueButton:disabled {
   color: #bebebe;
   background-color: #3D92A6;
   border: 1px solid #45A4BBFF;
}
.whiteButton:disabled {
   color: #3D92A6;
   background-color: #bebebe;
   border: 1px solid #45A4BBFF;
}
