textarea {
   width: 300px;
}

.postsBlock {
   padding: 10px;
}

.posts {
   margin-top: 10px;
}

.blueButton {
   margin-top: 10px;
   padding: 10px 20px;
   color: #fff;
   background-color: #61DAFB;
   border: 1px solid #61DAFB;
   border-radius: 20px;
}

.blueButton:active {
   color: #61DAFB;
   background-color: #fff;
   border: 1px solid #61DAFB;
}
