.formControl {
   display: flex;
   flex-direction: column;
}

input {
   height: 30px;
   font-size: 15px;
}

.formControl.error input {
   border-bottom: 2px solid #ff3759;
}

.formControl.error textarea {
   border: 2px solid #ff3759;
}

.formControl.error span {
   color: #ff3759;
}