.header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
   padding: 10px;
   background-color: #fafafa;
   border-radius: 20px;
}

/*--------------------LOGO--------------------*/

.logo {
   display: flex;
   align-items: center;
   height: 100%;
}

.logo img {
   width: 4rem;
}

.logo span {
   font-size: 1.5rem;
   color: #61DAFB
}

/*--------------------LOGIN--------------------*/

.login {
   display: flex;
   align-items: center;
   margin-right: 10px;
}

.login a {
   font-size: 18px;
   color: #61DAFB;
}

