input {
   padding: 1px 5px;
}

.blueText {
   color: #61DAFB;
   font-weight: 600;
}

.profileInfo {
   width: 500px;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 15px;
   border: 1px solid #CCC;
   border-radius: 10px;
}

.userAvatarContainer {
   display: flex;
   flex-direction: column;
}

.userAvatar {
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 50%;
}

.setUserAvatar {
   display: inline-block;
}

input[type=file] {
   display: none;
}

.profileData {
   margin-left: 30px;
}

.status {
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
}

.statusInput {
   font-size: 15px;
}

.blueButton {
   margin-top: 10px;
   margin-right: 5px;
   padding: 10px 20px;
   color: #fff;
   background-color: #61DAFB;
   border: 1px solid #61DAFB;
   border-radius: 20px;
   cursor: pointer;
}

.blueButton:active {
   color: #61DAFB;
   background-color: #fff;
   border: 1px solid #61DAFB;
}
