.mt10 {
   margin-top: 10px;
}

.rememberMe {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.button {
   padding: 10px 20px;
   color: #fff;
   background-color: #61DAFB;
   border: 1px solid #61DAFB;
   border-radius: 20px;
}

.button:active {
   color: #61DAFB;
   background-color: #fff;
   border: 1px solid #61DAFB;
}