@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

body {
   margin: 0;
   padding: 0;
   color: #000000;
   background-color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400
}

.app-wrapper {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: 1200px;
}

.app-wrapper-main {
   display: flex;
   justify-content: space-between;
}

.app-wrapper-container {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
   padding: 20px;
   background-color: #f8f8f8;
   border-radius: 20px;
}